<div class="container">

<!-- Hero stars here  -->
<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
  <div class="col-md-12 px-0">
    <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
    <p class="lead my-3">
      Multiple lines of text that form the lede, informing new readers quickly
      and efficiently about what’s most interesting in this post’s contents.
    </p>
    <p class="lead mb-0">
      <a routerLink="/blog" class="text-white font-weight-bold"
        >Continue reading...</a
      >
    </p>
  </div>
</div>
<!-- Hero ends here  -->

<!-- Blog cards start here  -->
<div class="row mb-2">
  <div class="col-md-6">
    <div
      class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
    >
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">Seychelles</strong>
        <h3 class="mb-0">Start: Jan 30 2021</h3>
        <div class="mb-1 text-muted">Duration: 2 weeks</div>
        <p class="card-text mb-auto">
          Extra care for you and your family in this perfect 2 weeks.
        </p>
        <span>Price: 1200 €</span>
        <a routerLink="/travels" class="stretched-link">Continue reading</a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img
          class="bd-placeholder-img card-img-top"
          src="assets/img/seychelles.png"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
          role="img"
          aria-label="Placeholder: Thumbnail"
        />
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div
      class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
    >
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">Maui</strong>
        <h3 class="mb-0">Start: Dec 22 2020</h3>
        <div class="mb-1 text-muted">Duration: 1 weeks</div>
        <p class="card-text mb-auto">
          Where is not just the guests (You!!) also the beer is unique!
        </p>
        <span>Price: 1000 €</span>
        <a routerLink="/travels" class="stretched-link">Continue reading</a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img
          class="bd-placeholder-img card-img-top"
          src="assets/img/maui.png"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
          role="img"
          aria-label="Placeholder: Thumbnail"
        />
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div
      class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
    >
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">Maldives</strong>
        <h3 class="mb-0">Start: Sept 10 2020</h3>
        <div class="mb-1 text-muted">Duration: 2 weeks</div>
        <p class="card-text mb-auto">
          Left the world and the stress behind You, travel to Maldives!
        </p>
        <span>Price: 1300 €</span>
        <a routerLink="/travels" class="stretched-link">Continue reading</a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img
        class="bd-placeholder-img card-img-top"
        src="assets/img/maldives.png"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
        role="img"
        aria-label="Placeholder: Thumbnail"
      />
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div
      class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
    >
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">Great Barrier Reef</strong>
        <h3 class="mb-0">Start: Nov 12 2020</h3>
        <div class="mb-1 text-muted">Duration: 3 weeks</div>
        <p class="card-text mb-auto">
          Your best decision ever! Where when not to the Great Barrier Reef?
        </p>
        <span>Price: 1500 €</span>
        <a routerLink="/travels" class="stretched-link">Continue reading</a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img
          class="bd-placeholder-img card-img-top"
          src="assets/img/great_barrier_reef.png"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
          role="img"
          aria-label="Placeholder: Thumbnail"
        />
      </div>
    </div>
  </div>
</div>
<!-- Blog cards end here  -->

</div>